.theme-container.homepage {
  .hero {
    img {
      width: 100%;
      object-fit: cover;
      margin: 30px 0 0 0;
    }
  }
  .home {
    max-width: 100%;
    padding: 0;
  }
  .features {
    padding: 0.5rem 1rem;
  }
}

.code-toggle {
  margin: 0.85rem 0;

  ul.code-language-switcher {
    border-radius: 6px 6px 0 0;
  }

  div[class*="language-"] {
    border-radius: 0 0 6px 6px;

    &:before {
      display: none;
    }
  }

  & > div > div[class*="language-"] {
    & > pre,
    & > pre[class*="language-"] {
      margin: 0;
    }
  }
}

ul.code-language-switcher {
  height: $navbarHeight;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0.7rem 1.5rem;
  font-size: 15px;
  line-height: 1.4;
  z-index: 2;
  background: darken($codeBgColor, 5%);

  li {
    margin: 0 5px 0 0;
    padding: 0;
    list-style-type: none;

    a {
      display: block;
      padding: 0 0.625rem;
      line-height: 2.2rem;
      cursor: pointer;
      border-radius: 4px;
      color lighten($textColor, 20%)

      &:hover {
        text-decoration: none !important;

        &:not(.active) {
          background: rgba(255,255,255,0.5)
        }
      }

      &.active {
        cursor default
        background-color #fff
      }
    }
  }
}

.theme-container.split {
  .page {
    & > ul.code-language-switcher {
      position: fixed;
      top: $navbarHeight;
      padding: 0.7rem 2.5rem;
    }
  }
}

