name: Build

on:
  workflow_call:
    inputs:
      docker-tag:
        required: true
        type: string

jobs:
  test:
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        framework: [net4.8, net6.0, net7.0]
        os: [ubuntu-latest, windows-latest]
        test: [Streams, PersistentSubscriptions, Operations, UserManagement, ProjectionManagement]
        configuration: [release]
        exclude:
          - framework: net4.8
            os: ubuntu-latest
          - framework: net6.0
            os: windows-latest
          - framework: net7.0
            os: windows-latest
    runs-on: ${{ matrix.os }}
    name: EventStore.Client.${{ matrix.test }}/${{ matrix.os }}/${{ matrix.framework }}/${{ inputs.docker-tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - shell: bash
        run: |
          git fetch --prune --unshallow
      - name: Pull EventStore Image
        shell: bash
        run: |
          docker pull ghcr.io/eventstore/eventstore:${{ inputs.docker-tag }}
      - name: Install dotnet SDKs
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.x
            7.0.x
      - name: Compile
        shell: bash
        run: |
          dotnet build --configuration ${{ matrix.configuration }} --framework ${{ matrix.framework }} src/EventStore.Client.${{ matrix.test }}
      - name: Run Tests
        shell: bash
        env:
          ES_DOCKER_TAG: ${{ inputs.docker-tag }}
        run: |
          ./gencert.sh
          dotnet test --configuration ${{ matrix.configuration }} --blame \
            --logger:"GitHubActions;report-warnings=false" --logger:"console;verbosity=normal" \
            --framework ${{ matrix.framework }} \
            test/EventStore.Client.${{ matrix.test }}.Tests
