name: Publish

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  vulnerability-scan:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        framework: [ netcoreapp3.1, net5.0, net6.0 ]
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    name: scan-vulnerabilities/${{ matrix.os }}/${{ matrix.framework }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dotnet SDKs
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            3.1.x
            5.0.x
            6.0.x
      - name: Scan for Vulnerabilities
        shell: bash
        run: |
          dotnet nuget list source
          dotnet restore
          dotnet list package --vulnerable --include-transitive --framework ${{ matrix.framework }} | tee vulnerabilities.txt
          ! cat vulnerabilities.txt | grep -q "has the following vulnerable packages"

  build-samples:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    services:
      esdb:
        image: ghcr.io/eventstore/eventstore:lts
        env:
          EVENTSTORE_INSECURE: true
          EVENTSTORE_MEMDB: true
          EVENTSTORE_RUN_PROJECTIONS: all
          EVENTSTORE_START_STANDARD_PROJECTIONS: true
        ports:
          - 2113:2113
        options: --health-cmd "exit 0"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dotnet SDKs
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            3.1.x
            5.0.x
            6.0.x
      - name: Compile
        shell: bash
        run: |
          dotnet build samples
      - name: Run
        shell: bash
        run: |
          find samples/ -type f -iname "*.csproj" -print0 | xargs -0L1 dotnet run --project

  test:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        framework: [netcoreapp3.1, net5.0, net6.0]
        os: [ubuntu-latest, windows-latest]
        configuration: [release]
    runs-on: ${{ matrix.os }}
    name: test/EventStore.Client/${{ matrix.os }}/${{ matrix.framework }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - shell: bash
        run: |
          git fetch --prune --unshallow
      - name: Install dotnet SDKs
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            3.1.x
            5.0.x
            6.0.x
      - name: Compile
        shell: bash
        run: |
          dotnet build --configuration ${{ matrix.configuration }} --framework ${{ matrix.framework }} src/EventStore.Client
      - name: Run Tests
        shell: bash
        run: |
          dotnet test --configuration ${{ matrix.configuration }} --blame \
            --logger:"GitHubActions;report-warnings=false" --logger:html --logger:trx --logger:"console;verbosity=normal" \
            --results-directory=$(pwd)/test-results/test/EventStore.Client.Tests \
            --framework ${{ matrix.framework }} \
            test/EventStore.Client.Tests
      - name: Collect Test Results
        shell: bash
        if: always()
        run: |
          echo $(find ./test-results -name "*.html" | xargs cat) > test-results.html
      - name: Publish Test Results (HTML)
        uses: actions/upload-artifact@v1
        if: always()
        with:
          path: test-results.html
          name: test-results-EventStore.Client-${{ matrix.configuration }}-${{matrix.os}}-${{ matrix.framework }}.html
      - name: Publish Test Results (All)
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: test-results-EventStore.Client-${{ matrix.configuration }}-${{matrix.os}}-${{ matrix.framework }}
          path: test-results

  publish:
    timeout-minutes: 5
    needs: [ vulnerability-scan, test, build-samples ]
    runs-on: ubuntu-latest
    name: publish
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get Version
        id: get_version
        run: |
          echo "::set-output name=branch::${GITHUB_REF:10}"
          dotnet nuget list source  
          dotnet tool restore
          version=$(dotnet tool run minver -- --tag-prefix=v)
          echo "::set-output name=version::${version}"
      - shell: bash
        run: |
          git fetch --prune --unshallow
      - name: Install dotnet SDKs
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            3.1.x
            5.0.x
            6.0.x
      - name: Dotnet Pack
        shell: bash
        run: |
          dotnet pack /p:Version=${{ steps.get_version.outputs.version }} --configuration=Release --output=./packages \
            /p:NoWarn=NU5105 \
            /p:RepositoryUrl=https://github.com/EventStore/EventStore-Client-Dotnet \
            /p:RepositoryType=git
      - name: Publish Artifacts
        uses: actions/upload-artifact@v1
        with:
          path: packages
          name: nuget-packages
      - name: Dotnet Push to Github Packages
        shell: bash
        if: github.event_name == 'push'
        run: |
          dotnet tool restore
          find . -name "*.nupkg" | xargs -n1 dotnet tool run gpr -- push --api-key=${{ secrets.github_token }}
      - name: Dotnet Push to Nuget.org
        shell: bash
        if: contains(steps.get_version.outputs.branch, 'v')
        run: |
          dotnet nuget list source
          dotnet tool restore
          find . -name "*.nupkg" | xargs -n1 dotnet nuget push --api-key=${{ secrets.nuget_key }} --source https://api.nuget.org/v3/index.json
    
